/* Variáveis CSS para cores */
:root {
   --primary-color: #007AFF; /* Azul principal */
   --secondary-color: #ffffff; /* Cinza secundário */
   --background-color: #F5F5F5; /* Fundo geral */
   --text-color: #333; /* Cor do texto principal */
   --card-background: #FFFFFF; /* Fundo dos cartões */
   --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra dos elementos */
}

/* Reset de estilos para garantir consistência entre navegadores */
body {
   margin: 0;
   font-family: 'Noto Sans', sans-serif;
   color: var(--text-color);
   background: var(--background-color);
}

body * {
   box-sizing: border-box;
}

/* Estilos para o cabeçalho */
.topo {
   background-color: var(--primary-color);
   color: white;
   padding: 10px;
   text-align: center;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para as abas */
.tab-container {
   background: var(--background-color);
   border: 1px solid var(--secondary-color);
   border-bottom: none;
   border-radius: 3px 3px 0 0;
   overflow: auto;
}

.tab-container button {
   background: var(--background-color);
   border: none;
   cursor: pointer;
   border-radius: 3px 3px 0 0;
   padding: 10px 16px 16px;
   float: right;
}

.tab-container button:hover {
   background: #EFEFEF;
   padding: 15px 20px 20px;
}

.tab-container button.ativo {
   background: #EFEFEF;
   padding: 15px 20px 20px;
   color: var(--primary-color);
   font-weight: bold;
}

/* Estilos para os conteúdos */
.content {
   background: var(--primary-color);
   border: 1px solid var(--secondary-color);
   border-top: none;
   border-radius: 0 0 3px 3px;
   overflow: auto;
   padding: 20px;
   display: none;
   color: white;
}

/* Estilos para o conteúdo principal */
.main {
   width: 100%;
   min-height: 100vh;
   background: #0ECFF6;
   display: flex;
   justify-content: center;
   align-items: center;
}

.right,
.left {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.left {
   font-weight: bold;
   flex-direction: row;
}

/* Estilos para os cartões de cursos */
.card-curso {
   width: 60%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   background: var(--card-background);
   border-radius: 20px;
   box-shadow: var(--box-shadow);
}

.card-curso > h3 {
   color: #26b1d4;
   font-weight: bold;
   font-size: 18px;
   margin: 0;
}

/* Estilos para os botões de nível */
.level button {
   width: auto;
   padding: 10px 20px;
   margin: 25px;
   border: none;
   border-radius: 8px;
   text-transform: uppercase;
   font-weight: 200;
   letter-spacing: 3px;
   color: var(--text-color);
   background: #FFFFFF;
   cursor: pointer;
   box-shadow: var(--box-shadow);
   flex-direction: row;
}

.button-acess {
   width: auto;
   padding: 0;
   border: none;
   border-radius: 8px;
   text-transform: uppercase;
   font-weight: 200;
   letter-spacing: 3px;
   color: var(--text-color);
   background: #FFFFFF;
   cursor: pointer;
   box-shadow: var(--box-shadow);
   flex-direction: row;
}

.button-acess:hover {
   background-color: rgb(11, 108, 118); /* Altera a cor de fundo quando o botão é hover */
}

.image {
   width: 35%;
}

.level a {
   display: inline-block;
   text-decoration: none;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.level button:hover {
   border: solid powderblue;
}

.expandable {
   cursor: pointer;
}

.description {
   display: none;
   color:#333;
}

.expanded {
   display: block;
}

/* Estilos responsivos */
@media only screen and (max-width: 950px) {
   .card-curso {
       width: 85%;
   }
}

@media only screen and (max-width: 600px) {
   .main {
       flex-direction: column;
   }

   .tab > h1 {
       display: none;
   }

   .tab {
       width: 100%;
       height: auto;
   }

   .content {
       width: 100%;
       height: auto;
   }

   .image {
       width: 50%;
   }

   .card-curso {
       width: 90%;
   }

   .level {
       flex-direction: column;
   }
}
